
.exhibition{
  align-items:center;
  max-width: 50vw;
  max-height: 50vw;
  margin: 40px 15px 40px;
}

.media{
  align-items:center;
  max-width: 18.75em;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  opacity: 0.3;
}

.media:hover{
  opacity: 1.0;
}

.titles{
  align-items:center;
  margin: 20px 15px 0px; 
  font-size: 1em;
  font-weight:bold;
  font-style: normal;
  border-bottom: 3px solid #59D9F7;
}

.descrip{
  font-size: 1em;
}

#load-exhibit{
  max-width: 72%;
}

.descrip:hover{
  color: #59D9F7;
}

.artworks{
  text-align: center;
  // align-items: center;
  // margin: 5vw 0vw 0vw 38vw;
  font-size: 1em;
  font-weight: bold;
}

.type-file{
  align-items:center;
  margin: 20px 15px 0px; 
  margin-top: 10px;
  margin-bottom: 10px;
  // border-style: groove;
  border-left: 6px solid #59D9F7;
  // background-color: lightgrey;
  border-radius: 5px;
}

.type-file ion-label:first-child{
  color: #59D9F7;
}