<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Museum
    </ion-title>
    <ion-fab>
      <ion-fab-button id="bounce" value="click">
        <ion-icon name="square-outline"></ion-icon>
        <ion-badge>{{badgeNumber}}</ion-badge>
      </ion-fab-button>
    </ion-fab>
  </ion-toolbar>
</ion-header>

<ion-content style="display: block" class="padding" [fullscreen]="true">
  <h1 class="titles">Exhibtion</h1>
  <ion-img class="exhibition" src="http://192.168.0.10:8080/img/icon.png"></ion-img>
  <h1 class="titles">Description</h1>
  <ng-container *ngFor="let exhibit of exhibitArray">
    <ng-container *ngFor="let beacon of beaconArray">
      <ng-container *ngFor="let deviceFound of devices" >
        <ng-container *ngIf="beacon.id == exhibit.id && beacon.mac == deviceFound.id">
          <ion-list id="load-exhibit" lines="none">
            <ion-item class="descrip">
              <ion-label>Name: {{exhibit.name}}</ion-label>
            </ion-item>
            <ion-item class="descrip">
              <ion-label>Opening Date: {{exhibit.openingDate}}</ion-label>
            </ion-item>
            <ion-item class="descrip">
              <ion-label>Closing Date: {{exhibit.closingDate}}</ion-label>
            </ion-item>
            <ion-item class="descrip">
              <ion-label>Location: {{exhibit.location}}</ion-label>
            </ion-item>
          </ion-list>
        </ng-container>
      </ng-container>
    </ng-container>
  </ng-container>
  <h1 class="titles">Artworks</h1>
  <ion-list>
    <ion-item class="type-file">
      <ion-label>TYPE FILE</ion-label>
      <ion-select (ionChange)="changeTypeFile($event)" [(ngModel)]="typeFileChoices" multiple="true" cancelText="Cancel"
        okText="Confirm">
        <ion-select-option value="image">Image</ion-select-option>
        <ion-select-option value="audio">Audio</ion-select-option>
        <ion-select-option value="video">Video</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-list *ngFor="let art of artArrayShow" lines="none">
    <h1 class="artworks">{{art.name}}</h1>
    <ng-container *ngFor="let media of art.media">
      <ion-img *ngIf="media.fileType == 'image' && typeFileChoices.includes(media.fileType)" style="display:block"
        class="media" [src]="ipAddress + '/img/' + media.fileName + '.' + media.extension" alt="img">
      </ion-img>
      <audio *ngIf="media.fileType == 'audio' && typeFileChoices.includes(media.fileType)" style="display:block"
        class="media" controls>
        <source [src]="ipAddress + '/audio/' + media.fileName + '.' + media.extension" type="audio/mpeg" alt="audio">
      </audio>
      <video *ngIf="media.fileType == 'video' && typeFileChoices.includes(media.fileType)" style="display:block"
        class="media" controls>
        <source [src]="ipAddress + '/video/' + media.fileName + '.' + media.extension" alt="video">
      </video>
    </ng-container>
  </ion-list>

  <!-- <ion-list lines="none">
    <ng-container *ngFor="let beacon of beaconArray">
      <ng-container *ngIf="beacon.id == 1">
        <ion-item class="descrip">
          <ion-label>NAME: {{beacon.artwork.name}}</ion-label>
        </ion-item>
        <ion-item class="descrip">
          <ion-label>AUTHOR: {{beacon.artwork.author}}</ion-label>
        </ion-item>
        <ion-item class="descrip">
          <ion-label>COUNTRY: {{beacon.artwork.country}}</ion-label>
        </ion-item>
        <ion-item class="descrip">
          <ion-label>ID: {{beacon.artwork.id}}</ion-label>
        </ion-item>
      </ng-container>
    </ng-container>
  </ion-list> -->

  <!-- <ion-button (click)=" scanForBeacon()">SCAN BEACONS</ion-button> -->
</ion-content>